<div class="inline-form">
    <%= form_for(@task) do |f| %>
      <div class="field">
        <%= f.text_field :title %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
</div>
